*{
    padding: 0;
    
}

.navbar-brand{
    margin: 20px;
    margin-right: 400px;
    font-size: 40px;
    padding: 20px;
    color: black;
}
.navbar-collapse{
    margin: 20px;
    font-size: 18px;
}
.navbar-collapse a:hover{
    font-size: 36px;
    background-color: white;
}

.navbar-collapse ul li a{
    color: rgb(0, 0, 0);
    font-size: 22px;
    border: none;
}
.navbar-collapse ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(175, 170, 170);
    color: white;
    font-weight: bold;
    font-size: 26px;
    border: none;
}
.glyphicon{
    padding: 5px;
}
